@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght&display=swap');

* {
    margin: 40px;
    padding: 0;
    border: none;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.cell-left_sidebar {
    grid-area: cell-left_sidebar;
}

.cell-main {
    grid-area: cell-main;
}

.cell-images {
    grid-area: cell-images;
}

.cell-footer {
    grid-area: cell-footer;
}

.container {
    display: grid;
    grid-template-columns: 700px 300px 700px;
    grid-template-areas: "....... cell-main cell-main" "cell-left_sidebar ....... ......." "....... cell-images cell-images" "cell-footer cell-footer cell-footer";
    background-color: brown;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  .cell-main, .cell-footer, .cell-images {
      background-color: #999;
  }

 